@model CompanyDocumentViewModel
@{
    var entity = Url.ActionContext.RouteData.Values["controller"].ToString();
    var title = Entities.ResourceManager.GetString(entity);
    ViewData["Title"] = title;
}

@section breadcrumbs{
    @await Component.InvokeAsync("BreadCrumb", new
    {
        args = new AdminBreadCrumbArgsViewModel
        {
            EntityTitle = title,
            Controller = entity,
            PageType = AdminPageType.Create
        }
    })
}

<div class="content-wrapper">
    <div class="content">
        <div class="card card-default">
            <div class="card-header card-header-border-bottom">
                <h2>ویرایش اطلاعیه ها</h2>
            </div>

            <div class="infoForm">
                <form class="form-horizontal" asp-antiforgery="true" method="post" id="infoForm">
                    <input type="hidden" name="SaveAndReturn" />
                    <input type="hidden" asp-for="Id" name="SaveAndReturn" />
                    <div asp-validation-summary="ModelOnly"></div>
                    <div class="form-group  row" id="btn-row-opertion">
                        <div class="circle">
                            <a href="@Url.Action("Index", "CompanyBoardMember")" class="submit-with-icon">
                                <span class="mdi mdi-close"></span>
                            </a>
                        </div>
                        <div class="circle">
                            <button type="submit" class="submit-with-icon">
                                <span class="mdi mdi-content-save"></span>
                            </button>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="CompanyId" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <kendo-combobox name="CompanyId" for="CompanyId" style="width:100%"
                                            datatextfield="Title"
                                            datavaluefield="Id"
                                            min-length="2"
                                            height="520"
                                            filter="FilterType.Contains">
                                <datasource type="DataSourceTagHelperType.Ajax" page-size="80">
                                    <transport>
                                        <read url="@Url.Action("Company_Read", "CompanyDocument")" />
                                    </transport>
                                </datasource>
                                <popup-animation>
                                    <open duration="500" />
                                    <close duration="500" />
                                </popup-animation>
                            </kendo-combobox>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="FiscalYearId" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <kendo-combobox name="FiscalYearId" for="FiscalYearId" style="width:100%"
                                            datatextfield="Title"
                                            datavaluefield="Id"
                                            min-length="2"
                                            height="520"
                                            filter="FilterType.Contains">
                                <datasource type="DataSourceTagHelperType.Ajax" page-size="80">
                                    <transport>
                                        <read url="@Url.Action("FiscalYear_Read", "CompanyDocument")" />
                                    </transport>
                                </datasource>
                                <popup-animation>
                                    <open duration="500" />
                                    <close duration="500" />
                                </popup-animation>
                            </kendo-combobox>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label asp-for="MainGroupId" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <kendo-combobox name="MainGroupId" for="MainGroupId" style="width:100%"
                                            datatextfield="Title"
                                            datavaluefield="Id"
                                            min-length="2"
                                            height="520"
                                            filter="FilterType.Contains">
                                <datasource type="DataSourceTagHelperType.Ajax" page-size="80">
                                    <transport>
                                        <read url="@Url.Action("MainGroup_Read", "CompanyDocument")" />
                                    </transport>
                                </datasource>
                                <popup-animation>
                                    <open duration="500" />
                                    <close duration="500" />
                                </popup-animation>
                            </kendo-combobox>
                            <span asp-validation-for="MainGroupId"></span>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="SubGroupId" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <kendo-combobox name="SubGroupId" for="SubGroupId" style="width:100%"
                                            datatextfield="Title"
                                            datavaluefield="Id"
                                            min-length="2"
                                            height="520"
                                            filter="FilterType.Contains">
                                <datasource type="DataSourceTagHelperType.Ajax" page-size="80">
                                    <transport>
                                        <read url="@Url.Action("SubGroup_Read", "CompanyDocument")" />
                                    </transport>
                                </datasource>
                                <popup-animation>
                                    <open duration="500" />
                                    <close duration="500" />
                                </popup-animation>
                            </kendo-combobox>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label asp-for="Title" class="col-sm-1 control-label"></label>
                        <div class="col-sm-5">
                            <input asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title"></span>
                        </div>
                    </div>

                </form>


            </div>
        </div>
    </div>
</div>
<script>
    function valueMapperCompany(options) {
        $.ajax({
            url: "@Url.Action("Company_Read_ValueMapper", "CompanyDocument")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function valueMapperBoardofDirectorsLegalMember(options) {
        $.ajax({
            url: "@Url.Action("FiscalYear_Read_ValueMapper", "CompanyDocument")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function valueMapperAgent(options) {
        $.ajax({
            url: "@Url.Action("MainGroup_Read_ValueMapper", "CompanyDocument")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }

    function valueMapperLegalMemberType(options) {
        $.ajax({
            url: "@Url.Action("SubGroup_Read_ValueMapper", "CompanyDocument")",
            data: convertValues(options.value),
            success: function (data) {
                options.success(data);
            }
        });
    }


    function convertValues(value) {
        var data = {};

        value = $.isArray(value) ? value : [value];

        for (var idx = 0; idx < value.length; idx++) {
            data["values[" + idx + "]"] = value[idx];
        }

        return data;
    }
</script>